# Assignment Python basic
1. What is python? Why is it popular?
  - Python is a computer programing language. Python is popular because, it is widely used in the in the industry, has a vastly growing in built library and it is easy to learn.
2. What is an interpreter in python?
  - Interpreter is a computer program that convertseach high level program into machine code. That is it converts the command into code that computer can understand
3. What are predefined keywords in python?
  - Keywords are some predefined words that has some special meaning in python ex:print, type.
4. Can keywords be used as variable names?
  - Python keywors are reserved words with special meanings, they cannot be used as variable names.
5. What is mutability in python?
  - The ability of an object to be changed once after it is creared is called mutable object. Ex: list
6. Why are lists mutable, but tuples are immutable?
  - We can change the content of a list once after it created,that is it can be modified. Hence list is mutable.
  - In the case of tuples, it can't be modified after creation, that is the content of the tuples cannot be change once it is created in python
7. What is the difference between "==" and "is" operators in python?
  - The "==" operator helps to compare the equality of two objects, While "is" operator helps to check whether different variables point to the same object in the memory.
8. What are logical operators in Python?
  - Logical operators in Python are "and", "or" and "not".They are used to combine conditional statements. Logical operators returns "True" or "False" output only.
9. What is type casting in Python?
  - Type casting is the process of changing a the data type of a value, object or a variable into another data type.Ex: intiger to float
10. What is the difference between implicit and explicit type casting?
  - Implicit Type casting means, Python can undestand these functions implicitly, by Python interpreter
  - Explicit function is performed by the user explicitly using programe code
11. What is the purpose of conditional statements in python?
  - Conditional statements are used to make decisions on the basis on some conditions. ex: if else; if elif else.
12. How does the elif statement work?
  - In Python, elif is short for "else if" and is used when the first if statement isn't true, but you want to check for another condition.
13. What is the difference between for and while loop?
  - “for” loops are used for iterating over a sequence of elements, while “while” loops are used for executing code until a specified condition becomes False
14. Describe a scenario where "while" loopis more convenient than "for" loop?
  - In general, you should use a for loop when you know how many times the loop should run. If you want the loop to break based on a condition other than the number of times it runs, you should use a while loop.
  - ex: If you want to make a program to add the details for students registering for a course, but you dont know how many students are going to register

In [ ]:
#1. write a Python program to print "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
#2. Write a Python program that displays your age and name?
name= "Jyothsna Unnikrishnan"
age= 35
print("My name is:",name)
print("age:",age)

My name is: Jyothsna Unnikrishnan
age: 35

In [ ]:
#3.Write code to print all predefined keywords in python using the python keyword library?
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#4. Write a program to check if a given word is a python keyword?
keyword.iskeyword("and")

True

In [ ]:
keyword.iskeyword("hello")

False

In [ ]:
from typing import Tuple
#5. Create a list and tuple in Python, and demonstare
#   how attempting to change an element works differently for each?
list= [54, 4.5, "star", 65, "moon"]
tuple=(36, 6.78, "river", 56, "place")

In [ ]:
list [2]="sun" # since list is a mutable function we can change the contents

In [ ]:
print (list) # Current list "star" will change to "sun"

[54, 4.5, 'sun', 65, 'moon']

In [ ]:
tuple [2]="lake" # since tuple is a immutable function we can't change the contents.Hence it will throw an error if we exceute.

TypeError: 'tuple' object does not support item assignment

In [ ]:
#6. Write a function to demonstrate the behaviour of mutable and immutable arguments?
list=["maya", 45, 6.7, "home"] # list ia a mutable function, we can change the content once after created
list [0]= "tree"

In [ ]:
print (list)

['tree', 45, 6.7, 'home']

In [ ]:
tuple=("car", 6.7, 8,10) #tuple is a bulit in immutable object, which can't be changes once after created

In [ ]:
tuple (0)= "bike" # it will throw an error because tuple is an immutable function

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-38-8ab9b6ce7bb5>, line 1)

In [ ]:
# another example is a string
b= "car"
b [0]

'c'

In [ ]:
b[0]= "d" # string object is another example of immutable function

TypeError: 'str' object does not support item assignment

In [ ]:
#. 8 Write a program to demonstrte the use of logical operators?
# AND operator returns true if both operands are true
#ex
a=12
b=3
if (a>10 and b<5):
  print("True")
else:
  print("False")

True

In [ ]:
a=12
b=3
if (a>10 and b>5):
  print("True")
else:
  print("False")

False

In [ ]:
# OR operator returns true if any ony of the operans is true
#ex
a=12
b=3
if (a>10 or b<5):
  print("True")
else:
  print("False")

True

In [ ]:
a=12
b=3
if (a>10 or b>5):
  print("True")
else:
  print("False")

True

In [ ]:
a=12
b=3
if (a<10 or b>5):
  print("True")
else:
  print("False")

False

In [ ]:
#NOT operator inverts the value of operand
name="maya"
if not name=="maya":
  print("True")
else:
  print("False")

False

In [ ]:
#9. Write a python program to convert user input from string to intiger, float
#   boolean functions
d= 234
type(d)

int

In [ ]:
str(d)

'234'

In [ ]:
type(d)

int

In [ ]:
bool (d)

True

In [ ]:
#10 write code to demonstrate type casting with list element?
list= [54, 4.5, "star", 65, "moon"]
list[0]= str(list[0])
list

['54', 4.5, 'star', 65, 'moon']

In [ ]:
list[1]= int(list[1])
list

['54', 4, 'star', 65, 'moon']

In [ ]:
list[3]= float(list[3])
list

['54', 4, 'star', 65.0, 'moon']

In [ ]:
#11. write a program to check whether a number is positive negative or zero
number=input("enter a number:")
if int(number)>0:
  print("positive number")
elif int(number)<0:
  print("negative number")
else:
  print("zero")

enter a number:13
positive number

In [ ]:
#12. Write a program to print numbers from 1 to 10?
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#13. Write a python program to find the sum of all even numbers betwwen 1 to 50?
sum=0
for i in range(1,51):
  if i%2==0:
    sum=sum+i
print(sum)

650

In [ ]:
#14. write a program to reverse a string using a while loop?
h= "teacher"
while len(h)>0:
  print(h[-1])
  h=h[:-1]

r
e
h
c
a
e
t

In [ ]:
#15. Write a python program to write the factorial of a number provided by the user using a while loop?
v=int(input("enter a number:"))
fact=1
while v>0:
  fact=fact*v
  v=v-1
print(fact)

enter a number:6
720